<div class="contact-footer">
  <div class="container">
    <!-- <h3 class="contact-title">Contatti:</h3> -->
    
    <ul class="contact">
      <li>
        <span>
          <i class="fa-regular fa-envelope-open"></i>
        </span>
        Email: To.rino11@yahoo.it
      </li>
      
      <li>
        <span>
          <i class="fa-brands fa-instagram "></i>
        </span>
        Instagram: Savas_art
      </li>
      <li>
        <span>
          <i class="fa-solid fa-location-dot"></i>
        </span>
        Citta': Torino (TO)
      </li>
    </ul>
  </div>
</div>
