<!-- <img [src]="'../../../assets/images/' + image.path" alt="Image" /> -->

<div class="portfolio">
  <div class="container">
    <div class="title-portfolio">
      <h2 class="title">Portfolio</h2>
    </div>

    <div class="image-slider">
      <div class="carousel">
        <!-- {{chunkedImages[currentIndex][0].path}} -->
        <div class="chunk" *ngFor="let chunk of chunkedImages[currentIndex]">
          <div class="image">
            {{chunk.path}}
          </div>
        </div>
      </div>
    </div>
    <button (click)="previusSlide()">prev</button>
    <button (click)="nextSlide()">next</button>
  </div>
</div>
