<div class="portfolio">
  <div class="container">
    <div class="title-portfolio">
      <h2 class="title">Portfolio</h2>
    </div>

    <div class="image-slider">
      <i
        id="prev-slide"
        (click)="previusSlide()"
        class="fa-regular fa-circle-left"
      ></i>

      <div class="chunk col-sm-9 col-lg-10">
        <div
          class="image col-sm-4 col-md-4 col-lg-4"
          *ngFor="let chunk of chunkedImages[currentIndex]"
        >
          <img
            *ngIf="loading === false"
            class="opera"
            [src]="'../../../assets/images/' + chunk.path"
            alt="Image"
            (load)="(onImageLoad)"
          />
        </div>

        
        <div
          *ngIf="loading"
          class="loader spinner-border text-secondary"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <i
        id="next-slide"
        (click)="nextSlide()"
        class="fa-regular fa-circle-right"
      ></i>
    </div>
  </div>
</div>
