@import '../../../styles'
.portfolio
    height: 100vh
    .title-portfolio
        padding: 20px 0
        display: flex
        justify-content: center
        .title
            padding: 16px
            font-size: 35px
            text-transform: uppercase
            color: white
            background-color: $newRed
    .image-slider
        overflow: hidden
        white-space: nowrap
        .carusel
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            gap: 10px
            .chunk
