@import '../../../styles'
.portfolio
    min-height: 50vh
    .btn
        border-radius: 100%
        font-size: 30px
        aspect-ratio: 1/1
        i
            height: 30px
            width: 30px
    .title-portfolio
        margin: 20px 0 30px 0
        display: flex
        justify-content: center
        .title
            padding: 16px
            font-size: 35px
            text-transform: uppercase
            color: white
            background-color: $newRed
    .paginator
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        gap: 10px
        padding: 0
        li
            list-style: none
            border-radius: 999px
            background-color: $brown
            color: white
            width: 30px
            height: 30px
            cursor: pointer
            text-align: center
            display: flex
            align-items: center
            justify-content: center
            &:hover
                transition: 0.3s ease-in
                background-color: $cyanDark
                border: none
        .paginator-selected
            background-color: $cyan
            border: none
            color: white
            transition: 0.3s ease-in
            &:hover
                background-color: $cyan
                border: none
                color: white
        .first-page,
        .last-page
            background-color: $brownDark
            padding: 0 20px
            // border: 2px solid $brownDark
            &:hover
                background-color: $cyan
                border: none
                color: white
    .image-slider
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        margin: 20px 0 30px 0
        height: 400px
        position: none
        .scroll-down-button
            background-color: $cyan
            color: white
            position: fixed
            bottom: 30px
            right: 30px
            border-radius: 100%
            border: 2px solid #4a75aa
            font-size: 20px
            aspect-ratio: 1/1
            i
                height: 25px
                width: 30px
        .prev,
        .next
            border: 2px solid $brownDark
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer
            color: white
            background-color: $brown
            padding: 14px 10px 0 10px
            aspect-ratio: 1/1
            border-radius: 999px
            &:hover
                border: 2px solid $cyan
                color: $cyan
                box-shadow: 0px 0px 7px 0px $cyan
                transition: 0.3s ease-in-out
                #prev-slide,
                #next-slide
                    transition: 0.3s ease-in-out
                    color: $cyan
            #prev-slide
                color: $brownDark
            #next-slide
                transform: scaleX(-1)
                color: $brownDark
            #prev-slide,
            #next-slide
                width: 70px
                height: 70px
                font-size: 50px

        .chunk
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            flex-wrap: wrap
            padding: 0 0 20px 0
            row-gap: 80px
            .image
                margin: 0
                padding: 0
                display: flex
                justify-content: center
                .opera
                    border: 13px groove $brownDark
                    box-shadow: 0px 0px 15px 8px black
                    aspect-ratio: 2/3
                    max-width: 200px
                    margin: 0 0 10px 0
                    cursor: pointer
                    &:hover
                        transition: 0.3s ease-in-out
                        box-shadow: 0px 0px 15px 10px $yellow

                .selected
                    transform: translateY(-10%)
                    transition: transform 0.3s ease-in-out
                    transition: 0.3s ease-in-out
                    box-shadow: 0px 0px 15px 15px $yellow

    @media screen and ( max-width: 992px )
        .image-slider
            height: 200px
            .scroll-down-button
            #prev-slide,
            #next-slide
                width: 50px
                height: 50px
                font-size: 30px
            .chunk
                row-gap: 40px
                .image
                    .opera
                        border: 7px groove $brownDark
                        box-shadow: 0px 0px 15px 8px black
                        max-width: 100px
                        &:hover

    @media screen and ( max-width: 768px  )
        .image-slider
            .prev,
            .next
                #prev-slide,
                #next-slide
                    width: 30px
                    height: 30px
                    font-size: 20px
            .chunk
                margin-top: 50px
                .image
                    .opera
                        box-shadow: 0px 0px 10px 5px black
                        max-width: 80px
                        &:hover
                            transition: 0.3s ease-in-out
                            box-shadow: 0px 0px 8px 8px $yellow

        @media screen and ( max-width:576px  )
            .image-slider
                height: 600px
                .chunk
                    flex-direction: column
                    .image
                        width: calc( (100% - 30px)/3 )
                        .opera
                            max-width: 100px

@media screen and ( max-width:376px  )
    .portfolio
        min-height: 50vh
        .title-portfolio
            margin-bottom: 30px
        .paginator
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            gap: 10px
            li
                list-style: none
                width: 30px
                height: 30px
                cursor: pointer
                text-align: center
                display: flex
                align-items: center
                justify-content: center
        .image-slider
            height: 500px
            .chunk
                .image
                    margin: 0
                    .opera
                        border: 4px groove $brownDark
                        box-shadow: 0px 0px 8px 2px black
                        max-width: 80px
                        &:hover
