<!-- <app-image-slider-side></app-image-slider-side> -->

<div class="about">
  <div class="container">
    <div class="about-row"> 
      <div class="col-xs-12 col-md-3">
        <app-image-slider-side></app-image-slider-side>
      </div>
      <div class="col about-info">
        <h2>Chi Sono?</h2>
        <p>
          Mi chiamo Rino lanzo, nato a Sava (TA) il 11.06.1949 Fin da piccolo ho
          provato interesse per l'arte, supportato dalla mia famiglia ho
          iniziato a dipingere per dare sfogo alla mia creatività ed esprimere
          ciò che provo. Dal 1974 sono iscritto alla Società Promotrice delle
          Belle Arti di Torino oltre che ad altre aderenze ad associazioni
          culturali ed artistiche. Nel 1979 alcune sue opere sono state inserite
          nell’arredamento scenografico del film “aragosta a colazione” con
          Enrico Montesano e Claude Brasseur Prevalentemente la mia pittura si
          esprime con dipinti ad olio su basi preparate oltre che ad acquerello
          e con tecnica materica mista
        </p>
      </div>
    </div>
  </div>
</div>
