<div class="about">
  <div class="container">
    <div class="title-about">
      <img
        class="divider"
        [src]="
          getDark()
            ? '../../../assets/images/divider-white.png'
            : '../../../assets/images/divider-black.png'
        "
        alt=""
      />
      <h2 class="title">La mia storia</h2>
      <img
        class="divider"
        [src]="
          getDark()
            ? '../../../assets/images/divider-white.png'
            : '../../../assets/images/divider-black.png'
        "
        alt=""
      />
    </div>
    <div class="about-row">
      <div class="col-xs-12 m-sm-4 col-md-3">
        <app-image-slider-side></app-image-slider-side>
      </div>
      <div class="col about-info">
        <h2>Chi Sono?</h2>
        <p>
          Mi chiamo <strong>Rino Lanzo</strong>, nato a Sava (TA) il 11.06.1949
          Fin da piccolo ho provato interesse per l'arte, supportato dalla mia
          famiglia ho iniziato a <strong>dipingere</strong> per dare sfogo alla
          mia creatività ed esprimere ciò che provo. Dal 1974 sono iscritto alla
          Società Promotrice <strong> delle Belle Arti di Torino</strong> oltre
          che ad altre aderenze ad associazioni culturali ed artistiche. Nel
          1979 alcune sue opere sono state inserite nell’arredamento
          scenografico del film <strong>“aragosta a colazione”</strong> con
          <strong>Enrico Montesano e Claude Brasseur Prevalentemente</strong> la
          mia pittura si esprime con dipinti ad olio su basi preparate oltre che
          ad acquerello e con tecnica materica mista
        </p>
      </div>
    </div>
  </div>
</div>
