@import '../../../styles'
.navbar
    position: fixed
    z-index: 999
    width: 100%
    background-color: rgba(81, 132, 195, 0.6)
    & *
        color: white
    .navbar-brand
        font-size: 30px

