<!-- <p>big-hero works!</p>
<img src="../../../assets/images/{{images[7].path}}" alt=""> -->

<div class="hero">
  <div class="big-hero">
    <div class="container hero-title">
      <h1 class="title">Rino Lanzo</h1>
      <p class="presentation">
        Benvenuti nel mio mondo artistico! Sono Rino Lanzo, un pittore
        appassionato che esplora la bellezza e l'emozione attraverso i colori e
        le forme. Ogni pennellata racconta una storia, invitandovi a immergervi
        nell'arte con occhi curiosi e cuore aperto.
      </p>
    </div>
  </div>
</div>
