<div class="cv">
  <div class="container">
    <div class="cv-title">
      <img
        class="divider"
        [src]="
          getDark()
            ? '../../../assets/images/divider-white.png'
            : '../../../assets/images/divider-black.png'
        "
        alt=""
      />
      <h2 class="title">il mio cv</h2>
      <img
        class="divider"
        [src]="
          getDark()
            ? '../../../assets/images/divider-white.png'
            : '../../../assets/images/divider-black.png'
        "
        alt=""
      />
    </div>

    <div class="cv-content">
      <div class="cv-aside-content col-xs-12 col-md-5 col-xl-3">
        <aside class="cv-aside">
          <img
            class="cv-thumb col-md-12"
            src="../../../assets/images/RITRATTO B.jpg"
            alt="Rino Lanzo"
          />
          <h3 class="cv-name col-md-12">Rino Lanzo</h3>
        </aside>
        <p class="cv-presentation">
          Sono Rino Lanzo, un artista nato a Sava (TA) nel 1949. Fin da giovane
          ho coltivato la mia passione per l'arte, dipingendo per esprimere la
          mia creatività. Sono membro della Società Promotrice delle Belle Arti
          di Torino dal 1974 e ho contribuito all'arredamento scenografico del
          film "Aragosta a Colazione" nel 1979. La mia pittura spazia dall'olio
          all'acquerello, con una predilezione per la tecnica mista e materica.
        </p>
      </div>

      <div class="col-xs-12 col-md-7 flex-grow-1 px-0 ps-md-4">
        <div class="cv-info">
          <div class="skill col-12">
            <h4 class="job-title">ARTEMISIA</h4>
            <p class="job-date">Novembre 1973</p>

            <p class="job-info">
              Dal novembre del 1973, sono orgoglioso di essere membro
              dell'Aderenza Culturale Artistica "ARTEMISIA", un rinomato circolo
              culturale dell'epoca. La mia affiliazione a questa prestigiosa
              associazione ha arricchito il mio percorso artistico e ha
              contribuito alla mia crescita nel mondo dell'arte.
            </p>
          </div>

          <div class="skill col-12">
            <h4 class="job-title">Società Promotrice delle Belle Arti</h4>
            <p class="job-date">Gennaio 1974</p>

            <p class="job-info">
              Nel gennaio del 1974, ho intrapreso un affascinante percorso
              artistico iscrivendomi alla Società Promotrice delle Belle Arti di
              Torino. Da allora, ho avuto l'opportunità di condividere la mia
              passione attraverso numerose mostre in Italia, esponendo le mie
              opere e condividendo la mia visione artistica con il pubblico.
            </p>
          </div>

          <div class="skill col-12">
            <h4 class="job-title">Amicizia con Lorenzo Alessandri</h4>
            <p class="job-date">1970-1980</p>

            <p class="job-info">
              Negli anni '70 e '80 ho avuto il privilegio di stringere
              un'importante amicizia con Lorenzo Alessandri di Giaveno (TO).
              Questo rapporto è stato caratterizzato da una profonda amicizia e
              reciproca stima artistica. Abbiamo condiviso idee e confrontato
              spesso le nostre opere, ispirandoci reciprocamente nel mondo
              dell'arte.
            </p>
          </div>

          <div class="skill col-12">
            <h4 class="job-title">Scena</h4>
            <p class="job-date">1979</p>

            <p class="job-info">
              Nel 1979, le mie opere furono selezionate per arricchire la
              scenografia del film "Un'aragosta a colazione", con la
              partecipazione di attori di spicco come Enrico Montesano e Claude
              Brasseur. Come artista, questo è stato un riconoscimento
              significativo della mia creatività nel mondo cinematografico.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
